@use "styles/shared" as *;

.TextInput {
    
    :global {
    // background: #fff;
    // width: 412px;
    // height: auto;
    // padding: 48px 36px;
    // border-radius: 8px;
    // border: 1px solid #cacaca;
    // margin: auto;
    label {
        display: block;
        position: absolute;
        padding: 0 5px;
        width: auto;
        color: #5f6368;
        background: #fff;
        transition: all 300ms ease;
        transform: translate(12px, -42px);
        cursor: text;
      }
      input {
        padding: 16px;
        font-size: 17px;
        background: #fff;
        width: calc(100% - 36px);
        border: 1px solid #cacaca;
        border-radius: 5px;
      }
      input:focus {
        outline: none;
        /* Compensate increased border with padding */
        padding: 15px;
        border: 2px solid #1a73e8;
      }
      input:not(:placeholder-shown) + label, input:focus + label {
        transform: translate(8px, -68px);
        font-size: 13px;
      }
      input:focus + label {
        color: #1a73e8;
      }

      p {
        color: red;
        min-height: 45px;
        font-size: 1rem;
      }
  }
}
