
@use "styles/shared" as *;

.Login {
  :global {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo{
      //
    }

    .login-form{
      
    }

  }
}

