@use "styles/shared" as *;

.AuthLayout {
  :global {
    width: 100%;
    // padding: 0 20px;
    height: 100vh;
    nav {
      height: 50px;
      background-color: $primary-blue;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px 0 15px;
      // position: sticky;
      // top: 0;
      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          cursor: pointer;
          font-size: 1.4em;
          font-weight: bold;
        }
      }

      .right {
        //margin: top right bottom left;
        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          cursor: pointer;
          li {
            padding-right: 30px;
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;            /* Footer height */
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
